<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Flash Card  </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        <style type="text/css">
            

        </style>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div>
                <div class="header_main"><a style="color: red" class="navbar-brand" href="{{ url_for('views.landing') }}" al>FLASH CARDS</a></div>
                <!--button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button-->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <button class="login"><span><a class="nav-link" href="{{ url_for('views.login') }}">Login</a></span></button>
                        <button class="login"><span><a class="nav-link" href="{{ url_for('views.register') }}">SignUp</a></span></button>
                    </ul>
                    
                </div>
            </div>
            
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <!--div class="container px-4 px-lg-5 h-100"-->
            <div>
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 >Let's Use Flash Cards to learn Better!</h1>
                        <p class="para">Get started to find out</p>
                        
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="para" class="text-white-75 mb-5">Start learning by creating your own personalized Flash Cards!</p>
                        <!--a class="para" class="btn btn-primary btn-xl" href="{{ url_for('views.register') }}">Get Started</a-->
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
